<launch>
  <!-- ROBOT DESCRIPTION-->
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find uvone_robot_description)/urdf/model.urdf.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  
  <!-- ROBOT NAME -->
  <param name="robot/type" value="uvone"/>
  
  <!-- ROBOT STATE PUBLISHER -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- KOBUKI NODELET and VELOCITY COMMANDS MULTIPLEXER -->
  <include file="$(find uvone_robot_bringup)/launch/include/mobile_base.launch.xml" />
  
  <!-- DIAGNOSTIC AGGREGATOR -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_node)/param/diagnostics.yaml" />
  </node>

  <!-- LAMPS CONTROL -->
  <include file="$(find uvone_robot_bringup)/launch/include/lamps.launch.xml" />
</launch>
