<launch>
  <!-- ROBOT DESCRIPTION-->
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find uvone_robot_description)/urdf/model.urdf.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  
  <!-- ROBOT NAME -->
  <param name="robot/type" value="uvone"/>
  
  <!-- ROBOT STATE PUBLISHER -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- KOBUKI NODELET -->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="mobile_base" args="load kobuki_node/KobukiNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/joint_states" to="joint_states"/>
  </node>

   <!-- VELOCITY COMMANDS MULTIPLEXER -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find uvone_robot_bringup)/param/velocity_mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>
  
  <!-- DIAGNOSTIC AGGREGATOR -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_node)/param/diagnostics.yaml" />
  </node>

  <!-- LAMPS CONTROL -->
  <include file="$(find uvone_robot_bringup)/launch/include/lamps.launch.xml" />
</launch>
